<ul class="tab-menu-list">
  <li class="<%= 'current' if controller_path == 'products' %>"><%= link_to '商品情報', product_path(uid: @product.uid) %></li>
  <li class="<%= 'current' if controller_path == 'products/lead_phases' %>"><%= link_to '商談フェーズ', products_lead_phases_path(uid: @product.uid) %></li>
</ul>
