<% content_for(:title, '企業プロフィール設定') %>

<header class="primary-header d-flex align-items-center">
  <div>
    <h1>企業プロフィール設定</h1>
    <p class="mb-0">企業プロフィールの設定ができます</p>
  </div>
</header>

<main class="main-contents">
  <div class="main-center-col w-100">
    <div class="contents-box">
      <h2 class="contents-box-title mb-5">プロフィール情報</h2>

      <%= form_with(model: @company, url: my_company_profile_path, html: { method: :patch, class: 'form-default' }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <% @current_vendor_group.table_columns.where(table_type: 'company').order(position: 'ASC').each do |table_column| %>
          <%= render 'table_columns/form', {f: f, table_column: table_column} %>
        <% end %>
        
        <%= f.submit t('common.update'), class: 'btn btn-m default' %>
      <% end %>


    </div>
  </div><!-- .main-center-col -->

</main><!-- .main-contents -->
