<h1 class="mb-0"><%= @product.name %></h1>

<div class="ml-auto">
  <%= link_to '削除する', maker_page_product_path(uid: @product.uid), method: :delete, class:'btn btn-m border-gray before-icon delete mr-2', data: {confirm: '案件を削除します。よろしいですか？'} %>
  <%= link_to '編集する', edit_maker_page_product_path(uid: @product.uid), class: 'btn btn-m border-gray before-icon edit' %>
</div>