<% content_for(:title, 'パートナー新規登録') %>

<header class="primary-header d-flex align-items-center">
  <h1 class="mb-0">パートナー新規登録</h1>
</header>

<main class="main-contents">
  <div class="contents-box">
    <%= form_with(model: @partner, url: partners_path, html: { method: :post, class: 'form-default' }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <% @current_vendor_group.table_columns.where(table_type: 'company').order(position: 'ASC').each do |table_column| %>
        <%= render 'table_columns/form', {f: f, table_column: table_column} %>
      <% end %>
        
      <%= f.submit t('common.create'), class: 'btn btn-m default' %>
    <% end %>
  </div>
</main><!-- .main-contents -->
