<ul class="tab-menu-list">
  <li class="<%= 'current' if controller_path == 'vendor_setting/base_setting' %>"><%= link_to '基本情報', edit_vendor_setting_base_setting_path %></li>
  <li class="<%= 'current' if controller_path == 'vendor_setting/lead_columns' %>"><%= link_to '商談項目', vendor_setting_lead_columns_path %></li>
</ul>
