<% content_for(:title, 'メーカー - 案件の選択肢一覧') %>

<header class="primary-header d-flex align-items-center">
  <%= render 'maker_page/products/show_parts/header' %>
</header><!-- .primary-header -->

<div class="secondary-header">
  <%= render 'maker_page/products/show_parts/page_menu' %>
</div><!-- .secondary-header -->

<main class="main-contents">
  
  <div class="table-wrap">
    <table class="border-table">
      <thead>
        <tr>
          <td>選択肢の分類</td>
          <td>項目数</td>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= link_to category.name, maker_page_products_lead_category_path(uid: @product.uid, id: category.id) %></td>
            <td><%= category.lead_category_items.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- .table-wrap -->

</main><!-- .main-contents -->