<% content_for(:title, 'ファイル詳細') %>

<header class="primary-header d-flex align-items-center">
  <div>
    <h1>ファイル詳細</h1>
    <p class="mb-0">共有ファイルの閲覧可能パートナーの制限や、閲覧できるユーザーの権限が設定できます。</p>
  </div>
</header><!-- .primary-header -->
<div class="secondary-header">
  <%= render 'page_menu' %>
</div><!-- .secondary-header -->

<main class="main-contents">
  <h2>準備中</h2>
 

</main><!-- .main-contents -->
