<nav class="main-menu">
  <ul class="main-menu-list">
    <li><%= link_to 'マイアカウント管理', edit_account_setting_my_account_path %></li>
    <li><%= link_to 'マイ組織管理', edit_account_setting_organization_path %></li>
    <li><%= link_to 'ユーザー管理', account_setting_users_path %></li>
  </ul>
</nav><!-- .main-menu -->
