<% content_for(:title, '商談項目一覧') %>

<div class="secondary-header">
  <%= render 'column_setting/page_menu' %>
</div><!-- .secondary-header -->

<header class="primary-header d-flex align-items-center">
  <h1 class="mb-0">商談項目一覧</h1>
</header><!-- .primary-header -->

<%= render 'column_setting/index' %>
