<header class="primary-header d-flex align-items-center">
  <h1 class="mb-0">申し込み一覧</h1>
</header><!-- .primary-header -->
<div class="secondary-header">
  
</div><!-- .secondary-header -->

<main class="main-contents">
  
  <%= render 'offers_table', offers: @offers %>

</main><!-- .main-contents -->