<% content_for(:title, 'ダッシュボード') %>

<header class="primary-header d-flex align-items-center">
  <h1 class="mb-0">ダッシュボード</h1>
</header><!-- .primary-header -->
<div class="secondary-header">
  
</div><!-- .secondary-header -->

<main class="main-contents">
  <h2>準備中です</h2>
</main><!-- .main-contents -->
