<nav class="main-menu">
  <ul class="main-menu-list">
    <li><%= link_to 'ダッシュボード', maker_page_dashboards_path %></li>
    <li><%= link_to 'ファイル管理', maker_page_files_path %></li>
  </ul>

  <div class="main-menu-footer">
    <ul class="main-menu-list">
      <li><%= link_to '通常メニューへ', root_path %></li>
    </ul>
  </div>

</nav><!-- .main-menu -->
