/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "color";

/*--------------------------------------------------------------
####### Reset #######
--------------------------------------------------------------*/
*{
  word-break: break-all;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

input[type="submit"]{
  outline: 0;
}

iframe{
  border: 0;
}

/*--------------------------------------------------------------
####### Bootstrap Override #######
--------------------------------------------------------------*/
ul, menu, dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  padding: 0;
}

.btn{
  border-radius: 6.4px;
  letter-spacing: .1em;
  line-height: 1;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}
button:focus {
  outline: 0px;
  outline: 0px;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.form-control{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 0;
}
.form-control:focus{
  color: #495057;
  outline: 0;
  box-shadow: none;
  border-color: inherit;
  background-color: white;
}

@media screen and (min-width: 576px){
  .modal-dialog.wide {
    max-width: 960px;
  }
}

.table .total th, .table .total td {
  border-width: 2px;
}


/*--------------------------------------------------------------
####### Library Override #######
--------------------------------------------------------------*/
@media screen and (max-width:768px){
  .sp-none{
    display: none!important;
  }
}
@media screen and (min-width: 769px) {
  .pc-none {
    display: none!important;
  }
}

.hide{
  display: none;
}

/*--------------------------------------------------------------
####### Base #######
--------------------------------------------------------------*/

html {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
}

table{
  width: 100%;
}

input::placeholder {
  color: #ADADAD;
}
/* IE */
input:-ms-input-placeholder {
  color: #ADADAD;
}
/* Edge */
input::-ms-input-placeholder {
  color: #ADADAD;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
}

.clear{
  clear: both;
}

.hover:hover{
  opacity: .7;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nowrap{
  white-space: nowrap;
}

.mw-100{
  max-width: 100% !important;
}

/*--------------------------------------------------------------
####### Breakpoints #######
--------------------------------------------------------------*/
// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

/*--------------------------------------------------------------
####### Base #######
--------------------------------------------------------------*/

html{
  font-size: 62.5%;
  body{
    font-family: "游ゴシック",YuGothic,sans-serif;
    font-weight: 500;
  }
  #ui-datepicker-div{
    font-size: 1.4rem;
  }
}


/*--------------------------------------------------------------
####### Layouts #######
--------------------------------------------------------------*/
/*=============================
    Flex
=============================== */
.f-auto{
  flex: 0 0 auto;
}


/*--------------------------------------------------------------
####### Main Colomn #######
--------------------------------------------------------------*/
.main-col{
  background-color: $shade-grey-04;
  min-height: 100vh;
  position: relative;
}
.main-col-white .main-col{
  background-color: white;
}
.secondary-header{
  background-color: white;
  border-bottom: 1px solid $shade-grey-02;
}

/*=============================
    Header
=============================== */
.primary-header{
  padding: 24px;
  position: relative;
  background-color: white;
  h1{
    font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: 0.12em;
    color: $text-01;
    margin-bottom: 12px;
  }
  .tricolon-icon{
    font-size: 28px;
  }
  .tricolon-menu{
    .tricolon-menu-list{
      li{
        border-bottom: 1px solid $shade-grey-02;
        a{
          color: $primary-01;
          font-weight: bold;
          font-size: 1.2rem;
          padding: 16px;
          display: flex;
          width: 100%;
          align-items: center;
          span[class^="icon-"], span[class*=" icon-"]{
            &:before{
              font-size: 24px;
              margin-right: 16px;
            }
          }
        }
      }
    }
  }
  .thumb{
    width: 40px;
    border-radius: 100%;
    margin-right: 8px;
  }
}


.header-filter-wrap{
  position: relative;
  margin-bottom: 110px;
}
.header-filter{
  position: absolute;
  z-index: 30;
  width: 100%;
  background-color: white;
  padding: 24px;
  border-bottom: 1px solid $shade-grey-02;
}
.header-filter-toggle{
  background-color: white;
  border-radius: 0 0 6.4px 6.4px;
  border: 1px solid $shade-grey-02;
  border-top: 1px solid white;
  font-size: 1.1rem;
  letter-spacing: .1em;
  color: $text-01;
  font-weight: bold;
  line-height: 1;
  padding: 12px 24px;
  position: absolute;
  bottom: -37px;
}
.header-filter-bg.open{
  position: fixed;
  background-color: rgba(40, 60, 80, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 20;
}

/*=============================
    Body
=============================== */
.main-contents{
  padding: 24px 24px;
  margin-bottom: 90px;
  h1{
    color: $text-01;
  }
  h2{
    font-size: 1.6rem;
    letter-spacing: .08em;
    font-weight: bold;
    color: $text-01;
  }
  .main-left-col{
    width: 184px;
    flex: 0 0 auto;
    margin-right: 32px;
  }/* .main-left-col */

  .main-right-col{
    width: 184px;
    flex: 0 0 auto;
    margin-left: 32px;
  }/* .main-right-col */

}

/*=============================
    Footer
=============================== */
.contents-footer{
  background: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $shade-grey-02;
}
.contents-footer-inner{
  padding: 24px;
}

/*--------------------------------------------------------------
####### Compornents #######
--------------------------------------------------------------*/
/*=============================
    Typography
=============================== */
.text-ss{
  font-size: 1.0rem !important;
  letter-spacing: .1em !important;
}
.text-sm{
  font-size: 1.1rem !important;
  letter-spacing: .1em !important;
}
.text-sl{
  font-size: 1.2rem !important;
  letter-spacing: .1em !important;
}
.text-ms{
  font-size: 1.3rem !important;
  letter-spacing: .1em !important;
}
.text-mm{
  font-size: 1.4rem !important;
  letter-spacing: .1em !important;
}
.text-ml{
  font-size: 1.5rem !important;
  letter-spacing: .1em !important;
}
.text-ls{
  font-size: 1.6rem !important;
  letter-spacing: .1em !important;
}
.text-lm{
  font-size: 1.7rem !important;
  letter-spacing: .1em !important;
}
.text-ll{
  font-size: 1.8rem !important;
  letter-spacing: .1em !important;
}

.ls-0{
  letter-spacing: 0 !important;
}

/*=============================
    Button
=============================== */
.btn, a.btn{
  &:disabled{
    background: $shade-grey-04 !important;
    border-color: $shade-grey-02 !important;
    color: $text-04 !important;
    cursor: inherit;
    opacity: 1;
  }
  &.default{
    background-color: $primary-01;
    border-color: $primary-01;
    color: white;
    &:hover{
      background-color: $primary-02;
      border-color: $primary-02;
    }
  }/* .default */

  &.border-gray{
    border-color: $shade-grey-02;
    color: $text-03;
    background-color: white;
    &:hover{
      background-color: $shade-grey-04;
      border-color: $shade-grey-02;
    }
  }/* .border-gray */

  &.border-primary{
    border-color: $primary-01 !important;
    color: $primary-01;
    background-color: white;
    &:hover{
      background-color: rgba(220, 50, 73, 0.04) !important;
    }
  }/* .border-primary */

  &.before-icon{
    position: relative;
    &:before{
      position: absolute;
      left: .4em;
      font-family: 'prm' !important;
      content: "\e91a";
      font-size: 24px;
      font-weight: normal;
      top: 50%;
      margin-top: -12px;
    }
    &.edit:before{
      content: "\e941";
    }
    &.delete:before{
      content: "\e95c";
    }
    &.plus:before{
      content: "\e901";
      font-size: 16px;
      margin-top: -8px;
    }
    &.exit:before{
      content: "\e927";
    }
  }/* .before-icon */

  &.after-icon{
    position: relative;
    &:after{
      position: absolute;
      right: .4em;
      font-family: 'prm' !important;
      content: "\e916";
      font-size: 24px;
      font-weight: normal;
      top: 50%;
      margin-top: -12px;
    }
    &.external:after{
      content: "\e917";
    }
  }/* .after-icon */

}/* .btn */

.only-icon{
  font-size: 24px;
  padding: 4px;
}

.btn-s{
  font-size: 1.1rem;
  min-width: 128px;
  padding: 10px 32px;
  font-weight: bold;
}

.btn-m{
  font-size: 1.2rem;
  min-width: 160px;
  padding: 12px 40px;
  font-weight: bold;
}

.tricolon-menu{
  position: relative;
  z-index: 4;
  button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background: transparent;
    cursor: pointer;
    img{
      width: 40px;
    }
    &:hover{
      background: #E0E0E0;
    }
  }
  .tricolon-menu-list{
    position: absolute;
    background: #fff;
    min-width: 192px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
    right: 4px;
    top: 4px;
    li>a{
      font-size: 14px;
      padding: 12px;
      display: block;
      width: 100%;
      &:hover{
        background: #F7F7F7;
      }
    }
  }
  .tricolon-menu-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.segment-button-list{
  display: flex;
  border: 1px solid $shade-grey-02;
  border-radius: 6.4px;
  overflow: hidden;
  li{
    border-right: 1px solid $shade-grey-02;
    a{
      font-size: 1.1rem;
      letter-spacing: .1em;
      line-height: 1;
      color: $shade-grey-01;
      background-color: $shade-grey-04;
      display: block;
      padding: 8px 24px;
    }
    &:last-child{
      border-right: 0;
    }
    &.current, &:hover{
      a{
        background-color: white;
        color: $text-03;
        font-weight: bold;
      }
    }
  }
}

/*=============================
    Label
=============================== */
.rounded-label{
  display: block;
  width: 88px;
  padding: 7px 10px;
  text-align: center;
  line-height: 1;
  border-radius: 200px;
}

/*=============================
    List
=============================== */
.border-list{
  &>li{
    list-style: none;
    border-bottom: 1px solid $shade-grey-02;
    padding-bottom: 14px;
    margin-bottom: 14px;
  }
}

.annotation-list{
  &>li{
    color: $text-04;
    list-style: none;
    position: relative;
    padding-left: 1.2rem;
    font-size: 1.1rem;
    &:before{
      content: '※';
      position: absolute;
      left: 0;
    }
  }
}

/*=============================
    Tab
=============================== */
.tab-label{
  display: flex;
  li{
    font-size: 1.1rem;
    background-color: white;
    border: 1px solid $shade-grey-02;
    color: $accent-01;
    padding: 7px 10px;
    line-height: 1;
    border-radius: 6.4px;
    display: block;
    letter-spacing: .1em;
    cursor: pointer;
    margin-right: 8px;
    &.active{
      color: white;
      background-color: $accent-01;
      border-color: $accent-01;
    }
    &.green{
      background-color: white;
      border: 1px solid $shade-grey-02;
      color: $accent-02;
      &.active{
        color: white;
        background-color: $accent-02;
        border: 1px solid $accent-02;
      }
    }
    &.disabled{
      background-color: $shade-grey-04;
      color: $text-04;
      border: 1px solid $shade-grey-02;
    }

  }
}


/*=============================
    Table
=============================== */
.table-wrap{
  margin-bottom: 40px;
}
.border-table{
  border-collapse: separate;
  border-spacing: 0;
  thead{
    tr{
      td{
        padding: 12px 16px 10px;
        font-size: 1.0rem;
        letter-spacing: .12em;
        color: $text-01;
        font-weight: bold;
      }
    }
  }
  .tbody-wrap{
    overflow: hidden;
    border-radius: 20px;
  }
  tbody{
    tr{
      background: #fff;
      &:hover{
        background: #fdeff1;
      }
      &.clickable-tr{
        cursor: pointer;
      }
      td{
        padding: 16px;
        font-size: 1.1rem;
        letter-spacing: .1em;
        color: $text-01;
        border-bottom: 1px solid $shade-grey-02;
        &:first-child{
          border-left: 1px solid $shade-grey-02;
        }
        &:last-child{
          border-right: 1px solid $shade-grey-02;
        }
        &.circle{
          width: 8px;
        }
        &.number{
          letter-spacing: 0;
        }
        &.ellipsis{
          max-width: 120px;
        }
        &.show-detail-cell{
          width: 60px;
        }
        &.nortification-title{
          font-weight: bold;
        }
        .nortification-circle{
          width: 8px;
          height: 8px;
          border-radius: 100%;
          display: block;
          background-color: $primary-01;
        }
        .show-detail-icon{
          &:before{
            font-size: 16px;
            color: $shade-grey-01;
          }
        }
        .thumb{
          width: 32px;
          border-radius: 100%;
          margin-right: 4px;
        }
      }
      &:first-child{
        td{
          border-top: 1px solid $shade-grey-02;
          &:first-child{
            border-radius: 6.4px 0 0 0;
          }
          &:last-child{
            border-radius: 0 6.4px 0 0;
          }
        }
      }
      &:last-child{
        td{
          &:first-child{
            border-radius: 0 0 0 6.4px;
          }
          &:last-child{
            border-radius: 0 0 6.4px 0;
          }
        }
      }
      &.already_read{
        td{
          color: $text-03;
          &.nortification-title{
            font-weight: normal;
          }
          .nortification-circle{
            background-color: transparent;
          }
        }
      }
    }
  }
}/* .border-table */

.under-line-table{
  thead{
    tr{
      th{
        border-bottom: 1px solid $shade-grey-02;
        padding: 0 0 10px;
      }
    }
  }
  tr{
    td{
      border-bottom: 1px solid $shade-grey-02;
      padding: 10px 0;
      font-size: 1.0rem;
      line-height: 1;
    }
  }
}/* .under-line-table */

/*=============================
    Definition List
=============================== */
.definition-list{
  display: flex;
  margin-bottom: 24px;
  dt{
    font-size: 1.1rem;
    font-weight: normal;
    letter-spacing: .12em;
    color: $text-05;
    width: 40%;
  }
  dd{
    font-size: 1.1rem;
    letter-spacing: .12em;
    color: $text-01;
    width: 60%;
    margin-bottom: 0;
  }
}

.definition-label{
  margin-bottom: 0;
  dt{
    font-size: 1.0rem;
    letter-spacing: .1em;
    line-height: 1;
    color: $text-04;
    font-weight: normal;
    margin-bottom: 4px;
  }
  dd{
    font-size: 1.4rem;
    color: $text-01;
    margin-bottom: 0;
  }
}


/*=============================
    Box
=============================== */
.contents-box{
  padding: 40px;
  background-color: white;
  border-radius: 6.4px;
  border: solid 1px $shade-grey-02;
  @include mq-down(md){
    padding: 16px;
  }
  .contents-box-title{
    font-size: 1.6rem;
    letter-spacing: .08em;
    font-weight: bold;
    color: $text-01;
  }
  .contents-box-title-label{
    font-size: 1.4rem;
    letter-spacing: .1em;
    font-weight: bold;
    color: $text-04;
  }
  p{
    font-size: 1.1rem;
    letter-spacing: .1em;
    color: $text-01;
  }
}/* .contents-box */

.contents-box-tab{
  display: flex;
  margin-bottom: -1px;
  z-index: 10;
  position: relative;
  li{
    margin-right: 4px;
    a{
      display: block;
      width: 144px;
      background-color: white;
      font-size: 1.3rem;
      letter-spacing: .1em;
      line-height: 1;
      text-align: center;
      padding: 16px;
      color: $text-04;
      font-weight: bold;
      border: 1px solid $shade-grey-02;
      border-radius: 6.4px 6.4px 0 0;
    }
    &:last-child{
      margin-right: 0;
    }
    &.current{
      a{
        color: $primary-01;
        border-bottom: 1px solid white;
      }
    }
  }
}

.label-box-s{
  border-radius: 6.4px;
  border: solid 1px $shade-grey-02;
  overflow: hidden;
  background-color: white;
  padding: 12px;
  font-size: 1.2rem;
  letter-spacing: .1em;
  color: $secondary-01;
  label{
    background-color: $shade-grey-03;
    border-bottom: solid 1px $shade-grey-02;
    display: block;
    padding: 9px 12px;
    margin: -12px -12px 12px;
    color: $text-01;
    font-size: 1.0rem;
    font-weight: bold;
  }
}

.empty-box{
  border-radius: 6.4px;
  border: dashed 1px $shade-grey-02;
  background-color: $shade-grey-04;
  padding: 24px;
  text-align: center;
  p{
    font-size: 1.0rem;
    letter-spacing: .12em;
    color: $text-03;
  }
}

.border-box{
  border: solid 1px $shade-grey-02;
  padding: 24px;
  border-radius: 6.4px;
  @include mq-down(md){
    padding: 16px 10px;
  }
}

.border-box-title{
  border-bottom: solid 1px $shade-grey-02;
  padding-bottom: 12px;
  margin-bottom: 16px;
}


/*=============================
    Menu
=============================== */
.sp-page-menu-wrap{
  overflow-y: auto;
}

.page-menu-list{
  border: 1px solid $shade-grey-02;
  border-radius: 6.4px;
  overflow: hidden;
  li{
    padding: 4px 0;
    border-bottom: 1px solid $shade-grey-02;
    font-size: 1.2rem;
    letter-spacing: .1em;
    font-weight: bold;
    background-color: #fafafe;
    &:last-child{
      border-bottom: 0;
    }
    a{
      display: flex;
      align-items: center;
      color: $text-04;
      padding: 12px 12px 12px 20px;
      &:after{
        font-family: 'prm';
        content: "\e900";
        font-size: 16px;
        margin-left: auto;
      }
    }
    &.current, &:hover{
      background-color: white;
      a{
        color: $text-01;
        position: relative;
        &:before{
          content: ' ';
          position: absolute;
          width: 2px;
          top: 0;
          bottom: 0;
          left: 0;
          background-color: $primary-01;
        }
      }
    }
  }
}/* .page-menu-list */


/*=============================
    Form
=============================== */
@mixin form-default-label($color: $text-01){
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: .12em;
  color: $color;
}
.form-default{
  max-width: 572px;
  input[type=text], input[type=password], input[type=email], input[type=number], input[type=url], input[type=tel], input[type=date], input[type=time], textarea, select{
    border-radius: 6.4px;
    font-size: 1.1rem;
    letter-spacing: .12em;
    padding: 11px 12px;
    margin-bottom: 24px;
    height: inherit;
    color: $text-01;
    border: solid 1px $shade-grey-02;
    background-color: white;
    &::placeholder{
      color: #ccc;
    }
    &:-ms-input-placeholder{
      color: #ccc;
    }
    &::-ms-input-placeholder{
      color: #ccc;
    }
    &:focus{
      border-color: $shade-grey-01;
    }
    &.half{
      max-width: 280px;
      display: inline-block;
    }
    &.quarter{
      max-width: 140px;
      display: inline-block;
    }
  }

  .form-group{
    label{
      @include form-default-label;
    }
    .select-wrap{
      position: relative;
      &:after {
        font-family: 'prm' !important;
        content: "\e966";
        font-size: 16px;
        color: $shade-grey-01;
        position: absolute;
        right: 12px;
        top: 50%;
        margin-top: -12px;
        pointer-events: none;
      }
      &.half{
        max-width: 280px;
      }
      &.quarter{
        max-width: 114px;
      }
    }
    .selectable-text-wrap{
      position: relative;
      .text-replace-button{
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .date-field-wrap{
      position: relative;
      padding-right: 35px;
      // .date-field{
      //   width: 120px;
      // }
      &.half{
        max-width: 280px;
      }
      &.quarter{
        max-width: 155px;
      }
      .ui-datepicker-trigger{
        position: absolute;
        right: 0;
        top: 3px;
        span[class^="icon-"], span[class*=" icon-"]{
          &:before{
            font-size: 32px;
          }
        }
      }
      // .form-control[readonly]{
      //   background-color: inherit;
      // }
      &.disabled{
        margin-right: 0;
        button{
          display: none;
        }
      }
    }
    .toggle-switch{
      position: relative;
      width: 44px;
      height: 24px;
      border-radius: 200px;
      overflow: hidden;
      // background-color: #333;
      input{
        width: 100%;
        height: 100%;
        position: absolute;
        &:before{
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-color: $text-04;
        }
        &:after{
          content: '';
          position: absolute;
          width: 16px;
          height: 16px;
          border-radius: 100%;
          left: 4px;
          top: 4px;
          z-index: 2;
          background: #fff;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          transition: 0.4s;
        }
        &:checked{
          &:before{
            background-color: $accent-02;
          }
          &:after{
            left: 24px;
          }
        }
      }
    }
    .form-control:disabled{
      background-color: $shade-grey-04;
      border-color: $shade-grey-02;
      color: $text-04;
    }
  }/* .form-group */
  .nested-item-box{
    background-color: $shade-grey-04;
    border: 1px solid $shade-grey-02;
    border-radius: 6.4px;
    padding: 24px;
    margin-bottom: 40px;
    position: relative;
    .field-close-btn{
      position: absolute;
      background-color: $secondary-01;
      color: white;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      right: -6px;
      top: -6px;
    }
  }

  .label{
    @include form-default-label;
  }
  .disabled{
    color: #a0a8b2 !important;
  }
  .annotation{
    color: #a0a8b2;
  }
  .description{
    font-size: 1.1rem;
    letter-spacing: .12em;
    color: #283C50;
    padding: 16px;
    background: rgba(240, 240, 244, 0.4);
    border-radius: 6.4px;
  }
}

/*=============================
    Flash Message
=============================== */
.flash-message{
  padding: 16px;
  box-shadow: 0 2px 8px 0 $text-02;
  background-color: $accent-01;
  font-size: 1.3rem;
  letter-spacing: .09em;
  line-height: 1;
  font-weight: bold;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  i[class^="icon-"], i[class*=" icon-"]{
    &:before{
      color: white;
      font-size: 2.0rem;
    }
  }
  &.danger{
    background-color: $warning;
  }
  .flash-close{
    cursor: pointer;
    padding: 2px 2px 2px 10px;
    .fill{
      display: inline-block;
      position: relative;
      padding: 0;
      width: 2px;
      height: 14px;
      background: white;
      transform: rotate(45deg);
      border-radius: 10px;
    }
    .fill:before{
      display: block;
      content: " ";
      position: absolute;
      top: 50%;
      left: -6px;
      width: 14px;
      height: 2px;
      margin-top: -1px;
      background: white;
      border-radius: 10px;
    }
  }/* .flash-close */

  p:last-child{
    margin-bottom: 0;
  }
}/* .flash-message */


/*=============================
    Toast
=============================== */
#toast-container{
  &>div{
    opacity: 1;
    font-size: 1.2rem;
    letter-spacing: .1em;
    line-height: 1;
    font-weight: bold;
    border-radius: 6.4px;
    padding: 16px;
    box-shadow: 0 2px 8px 0 $text-02;
    display: flex;
    align-items: center;
  }
  &>.toast-success{
    background-image: none !important;
    background-color: $accent-01;
    &:before {
      font-family: 'prm' !important;
      content: "\e91e";
      font-size: 2.8rem;
      color: white;
      margin-right: 12px;
    }
  }
  &>.toast-warning{
    background-image: none !important;
    background-color: $warning;
    &:before {
      font-family: 'prm' !important;
      content: "\e91e";
      font-size: 2.8rem;
      color: white;
      margin-right: 12px;
    }
  }
}

/*=============================
    Error Message
=============================== */
.error-message{
  border: 1px solid $warning;
  border-radius: 6.4px;
  background-color: rgba(216, 144, 72, 0.08);
  padding: 16px;
  display: flex;
  span[class^="icon-"], span[class*=" icon-"]{
    &:before{
      color: $warning;
      font-size: 2.0rem;
    }
  }
  .error-message-list{
    margin-top: 2px;
    li{
      color: $warning;
      font-size: 1.2rem;
      letter-spacing: .1em;
      font-weight: bold;
    }
  }
}/* .error-message */


/*=============================
    Page Nation
=============================== */
nav.pagination{
  margin-left: auto;
  &>span{
    display: inline-block;
    a, &.current, &.gap{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      border: solid 1px $shade-grey-02;
      background-color: white;
      border-radius: 100%;
      margin-left: 8px;
    }
    &.current{
      color: $primary-01;
    }
    &:first-child{
      a{
        margin-left: 0;
      }
    }
  }
}

/*=============================
    Floating Action Button
=============================== */
.fab{
  background-color: $primary-01;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0px 0px 8px 0 rgba(40, 60, 80, 0.4);
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 30;
  span[class^="icon-"], span[class*=" icon-"]{
    &:before{
      color: white;
      font-size: 32px;
    }
  }
}

/*=============================
    Label
=============================== */
.sales-status{
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: .1em;
  .circle{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background-color: $shade-grey-03;
    margin-right: 6px;
    position: relative;
    &:after{
      content: ' ';
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: #40b8a0;
      position: absolute;
      left: 2px;
      top: 2px;
    }
  }
  &.default_status, &.missing{
    color: $text-04;
    font-weight: normal;
    .circle{
      &:after{
        background-color: $shade-grey-03;
      }
    }
  }
  &.send_back{
    .circle{
      &:after{
        background-color: $warning;
      }
    }
  }
}

.time-stamp{
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  span[class^="icon-"], span[class*=" icon-"]{
    &:before{
      font-size: 16px;
      margin-right: 6px;
    }
  }
  label{
    margin-bottom: 0;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
}

.confirmation-status{
  display: flex;
  align-items: center;
  &:before {
    font-family: 'prm' !important;
    content: "\e91e";
    font-size: 24px;
    color: transparent;
    margin-right: 4px;
  }
  &.applying, &.invoiced{
    &:before{
      color: $shade-grey-02;
    }
  }
  &.confirmed, &.approved{
    &:before {
      color: $accent-01;
      content: "\e921";
    }
  }
  &.applying_send_back{
    &:before{
      color: $warning;
      content: "\e922";
    }
  }
}

.icon-label{
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  letter-spacing: .1em;
  font-weight: bold;
  color: $text-01;
  span[class^="icon-"], span[class*=" icon-"]{
    &:before{
      font-size: 24px;
      margin-right: 8px;
    }
  }
}


.help-btn{
  font-size: 24px;
  cursor: pointer;
  color: $text-01;
}

/*=============================
    User Icon
=============================== */
.icon-photo{
  width: 28px;
  height: 28px;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  font-size: 11px;
  line-height: 28px;
  letter-spacing: 0;
  display: inline-block;
  text-align: center;
  flex: 0 0 auto;
  &.gray{
    background-color: #F0F0F4;
  }
  &.red{
    background-color: #F75A7B;
  }
  &.orange{
    background-color: #F89335;
  }
  &.yellow{
    background-color: #EAD90C;
  }
  &.blue{
    background-color: #6A99F0;
  }
  &.spray_green{
    background-color: #9BC4CA;
  }
  &.green{
    background-color: #61A975;
  }
  &.purple{
    background-color: #B272D0;
  }
  &.saxe_blue{
    background-color: #788DB2;
  }
}

.image-block{
  &>.icon-photo{
    width: 150px;
    height: 150px;
    font-size: 48px;
    line-height: 150px;
  }
  &>.icon-logo{
    width: 150px;
    height: 150px;
    font-size: 100px;
    line-height: 150px;
    font-weight: normal;
  }
}

.crop-img, .crop-result{
  width: 150px;
  height: 150px;
  margin: auto;
}
.crop-img{
  margin-bottom: 60px;
}

.crop-result img{
  width: 100%;
}

div.upload-button-group {
  position: relative;
  overflow: hidden;
  display: inline-block;
  input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}

/*=============================
    company logo
=============================== */
.company-logo{
  width: 28px;
  height: 28px;
  border-radius: 100%;
  color: white;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0;
  display: inline-block;
  text-align: center;
  flex: 0 0 auto;
  border: solid 1px #dcdcde;
}
.image-block{
  &>.company-logo{
    width: 150px;
    height: 150px;
    font-size: 100px;
    line-height: 140px;
    font-weight: normal;
  }
}
header{
  &>.company-logo{
    width: 40px;
    height: 40px;
    font-size: 30px;
    line-height: 36px;
  }
}

/*=============================
    ProfilingScore
=============================== */
.profiling-score{
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 6.4px;
  border: solid 1px $shade-grey-02;
  text-align: center;
  color: #283c50;

  .link{
    color: $primary-01;
  }
}
.profiling-score-wrapper{
  min-width: 200px;
}

/*--------------------------------------------------------------
####### Template #######
--------------------------------------------------------------*/

/*=============================
    New
=============================== */
.step-list{
  margin-top: 40px;
  li{
    display: flex;
    margin-left: 24px;
    margin-bottom: 48px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    .circle{
      width: 16px;
      height: 16px;
      border-radius: 100%;
      border: 4px solid white;
      background-color: white;
      margin-right: 12px;
    }
    label{
      font-size: 1.1rem;
      font-weight: bold;
      letter-spacing: .08em;
      line-height: 1;
      color: $text-04;
    }
    .subject{
      font-size: 1.3rem;
      font-weight: bold;
      letter-spacing: .11em;
      color: $text-04;
    }
    &.current{
      .circle{
        background-color: $primary-01;
      }
      label, .subject{
        color: $text-01;
      }
    }
    &.done{
      .circle{
        background-color: $shade-grey-01;
      }
    }
    &:before{
      content: ' ';
      width: 2px;
      height: 90px;
      background-color: white;
      position: absolute;
      left: 7px;
      z-index: -1;
    }
    &:last-child{
      &:before{
        content: none;
      }
    }
  }
}

.notifications{
  .definition-list{
    dt{
      width: 100px;
    }
    dd{
      width: inherit;
    }
  }
}

.consolidates{
  h3{
    font-size: 20px;
    line-height: 1.8;
    font-weight: bold;
    text-align: center;
  }
}



/*--------------------------------------------------------------
####### PRM #######
--------------------------------------------------------------*/
.main-header{
  background-color: $secondary-01;
  padding: 10px 24px;
  position: relative;
  .header-icon{
    width: 40px;
    border-radius: 100%;
  }
  #userIcon{
    cursor: pointer;
  }
  .maker-info{
    cursor: pointer;
    .maker-name{
      color: white;
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
  .main-header-icon-list{
    li{
      background-color: #152134;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: white;
      margin-right: 16px;
      i{
        font-size: 2.4rem;
      }
    }
  }
  .header-menu{
    display: none;
    background-color: white;
    border-radius: 4px;
    width: 240px;
    padding: 16px 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .6);
    position: absolute;
    top: 50px;
    z-index: 100;
    ul{
      li{
        a{
          font-size: 1.2rem;
          display: block;
          padding: 8px 16px;
          &:hover{
            background-color: $shade-grey-04;
          }
        }
      }
    }
    &#makerMenu{
      left: 24px;
    }
    &#userMenu{
      right: 24px;
    }
    .header-menu-title{
      display: flex;
      align-items: center;
      color: $secondary-01;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 4px 16px;
      margin-bottom: 4px;
      i{
        font-size: 1.6rem;
        margin-right: 6px;
      }
    }
  }
  .header-menu-bg{
    display: none;
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
  }

}


.heade-icon-list{
  li{
    margin-left: 16px;
    i{
      font-size: 2.4rem;
      cursor: pointer;
    }
  } 
}


/*=============================
    Side Menu
=============================== */
.main-menu{
   width: 180px;
   min-height: 100vh;
   height: 100%;
   padding: 32px 0;
   background-color: white;
   // border-right: 1px solid $shade-grey-02;
   box-shadow: 2px -1px 3px rgba(0, 0, 0, .1);
   position: relative;
   z-index: 10;
  .logo{
    width: 208px;
    display: block;
    margin: 0 auto 20px;
  }
  .maker-selecter{
    .form-default select{
      background: transparent;
      border: 0;
      color: white;
      padding: 20px 16px;
      font-size: 1.2rem;
      top: 0;
      option{
        color: #fff;
        padding: 4px;
      }
    }
  }

  .main-menu-list{
    li{
      white-space: nowrap;
      a{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 12px 16px;
        color: $text-03;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: .1em;
        z-index: 10;
        .icon{
          font-size: 32px;
          margin-right: 10px;

          &.has-unread {
            color: $primary-01
          }
        }
      }
      &.current, &:hover{
        opacity: 1;
        a{
          &:before{
            content: ' ';
            width: 3px;
            height: 100%;
            border-radius: 2px;
            background-color: $primary-01;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }/* .main-menu-list */
  .main-menu-footer{
    margin-top: 40px;
    padding: 24px 0 40px;
  }
}/* .main-menu */


/*=============================
    Right Column
=============================== */
.right-col{
  &.on{
    transform: translateZ(0);
  }
  transform: translate(300px);
  transition: all .25s ease;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);
  z-index: 50;
  h2{
    padding: 24px;
    border-bottom: solid 1px $shade-grey-02;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0;
  }
  #rightColClose{
    cursor: pointer;
    color: $secondary-01;
  }
  .message-list{
    max-height: calc(100vh - 280px);
    overflow: auto;
    &>li{
      padding: 24px;
      border-bottom: solid 1px $shade-grey-02;
      .user-info{
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        h3{
          font-size: 1.2rem;
          font-weight: 600;
          color: $secondary-01;
        }
      }
      .date{
        font-size: 1.1rem;
        color: $text-05;
        margin-bottom: 8px;
      }
      .content{
        font-size: 1.1rem;
        line-height: 1.6;
      }
    }
  }
  .thumb{
   width: 28px;
   border-radius: 100%; 
   margin-right: 8px;
  }
  .form-wrap{
    padding: 24px;
    input[type="text"]{
      border: 1px solid $shade-grey-02;
      border-radius: 6px;
      width: 100%;
      padding: 8px;
      margin-bottom: 8px;
    }
    .submit{
      color: $primary-01;
      font-weight: 600;
      padding: 4px;
    }
  }
}