<nav class="main-menu">
  <ul class="main-menu-list">
    <li><%= link_to 'ユーザー管理', admin_page_users_path %></li>
    <li><%= link_to '企業管理', admin_page_companies_path %></li>
    <li><%= link_to '商談管理', admin_page_leads_path %></li>
  </ul>

  <div class="main-menu-footer">
    <ul class="main-menu-list">
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: 'delete' %></li>
    </ul>
  </div>

</nav><!-- .main-menu -->
