<header class="primary-header d-flex align-items-center">
  <h1 class="mb-0"><%= @product.name %></h1>

  <ul class="heade-icon-list d-flex ml-auto">
    <li><i id="commentOpen" class="icon-comment"></i></li>
  </ul>
</header><!-- .primary-header -->
<div class="secondary-header">
  
</div><!-- .secondary-header -->

<main class="main-contents">
 
</main><!-- .main-contents -->

<div id="rightCol" class="right-col">
  <h2 class="d-flex align-items-center">コメント<i id="rightColClose" class="icon-cancel ml-auto"></i></h2>
  <%= react_component 'messages/MessagesIndex', related_object: 'product', related_object_uid: @product.uid %>
</div>