<% content_for(:title, '商品情報編集') %>

<header class="primary-header d-flex align-items-center">
  <div>
    <h1>商品情報編集</h1>
    <p class="mb-0">商品情報の編集ができます</p>
  </div>
</header>

<main class="main-contents">
  <div class="main-center-col w-100">
    <div class="contents-box">
      <h2 class="contents-box-title mb-5">商品情報</h2>

      <%= form_with(model: @product, url: product_path(uid: @product.uid), html: { method: :patch, class: 'form-default' }) do |f| %>

        <%= render 'form', f: f %>

        <%= f.submit t('common.update'), class: 'btn btn-m default' %>
      <% end %>

    </div>
  </div><!-- .main-center-col -->

</main><!-- .main-contents -->
