<% content_for(:title, 'パートナーレポート') %>

<div class="secondary-header">
  <%= render 'page_menu' %>
</div><!-- .secondary-header -->

<header class="primary-header d-flex align-items-center">
  <h1 class="mb-0">パートナーレポート</h1>
</header><!-- .primary-header -->
<div class="secondary-header">
  
</div><!-- .secondary-header -->

<main class="main-contents">
</main><!-- .main-contents -->
