<header class="primary-header d-flex align-items-center">
  <h1 class="mb-0">直接傘下の代理店のグループ</h1>
</header><!-- .primary-header -->
<div class="secondary-header">
  
</div><!-- .secondary-header -->

<main class="main-contents">
  
  <%= render 'table', vendor_groups: @vendor_groups %>

</main><!-- .main-contents -->