<nav class="main-menu">
  <ul class="main-menu-list">
    <li><%= link_to 'ホーム', dashboards_path %></li>
    <li><%= link_to '商品管理', products_path %></li>
    <li><%= link_to '商談管理', leads_path %></li>
  </ul>

  <% if @current_company.maker? %>
    <div class="main-menu-footer">
      <ul class="main-menu-list">
        <li><%= link_to 'ベンダーページへ', vendor_page_dashboards_path %></li>
      </ul>
    </div>
  <% end %>

</nav><!-- .main-menu -->
