<nav class="main-menu">
  <ul class="main-menu-list">
    <li><%= link_to 'ホーム', dashboards_path %></li>
    <li><%= link_to 'パートナー管理', partners_path %></li>
    <li><%= link_to '販売グループ管理', vendor_groups_path %></li>
  </ul>

  <div class="main-menu-footer">
    <ul class="main-menu-list">
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: 'delete' %></li>
    </ul>
  </div>

</nav><!-- .main-menu -->
